<a href="https://colab.research.google.com/github/htowner/Python_sample/blob/master/Python_GitHub_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
oil_df=pd.read_csv("https://raw.githubusercontent.com/htowner/Python_sample/master/Oil%20and%20Gas%201932-2014.csv")
oil_df.head()

      cty_name  iso3numeric   id  ...  mult_nom_2000 mult_nom_2014  mult_2000_2014
0  Afghanistan            4  AFG  ...      12.599874     17.321973        1.374774
1  Afghanistan            4  AFG  ...      13.280064     18.257080        1.374774
2  Afghanistan            4  AFG  ...      12.853008     17.669975        1.374774
3  Afghanistan            4  AFG  ...      12.537882     17.236748        1.374774
4  Afghanistan            4  AFG  ...      12.420786     17.075768        1.374774

[5 rows x 41 columns]